.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid #CCCCCC;
    background-color: white;
    font-size: 25px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 700;
}
.navbar-custom .navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
}
.navbar-custom .navbar-brand {
    font-size: 30px;
}
.navbar-custom .navbar-brand:focus {
    outline: none;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}
.navbar-custom .nav li a:hover {
    color: #ccc;
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
}
.navbar-custom .nav li.f {
    outline: none;
}
.navbar-custom .nav li.active a {
    color:#ccc;
}
.navbar-custom .nav li.active a:hover {
    color: #ccc;
}
#brand-txt{
    margin-left: 5px;
}
@media (max-width: 767px) {
    .icon-bar {
        transition: all 0.2s;
    }
    .top-bar {
        transform: rotate(0);
    }
    .middle-bar {
        opacity: 1;
    }
    .bottom-bar {
        transform: rotate(0);
    }
    .top-bar.collapsed {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar.collapsed {
        opacity: 0;
    }
    .bottom-bar.collapsed {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    #btn-nav-toggle:hover, #btn-nav-toggle:focus{
        cursor:default;
    }
    /*#brand-txt{
        display:none;
    }*/
    .navbar-custom .navbar-collapse{
        text-align: center;
    }
}
@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: white;
        border-bottom: 1px solid #CCCCCC;
    }
    .navbar-custom.top-nav-collapse a{
        font-weight: 700;
    }
    #cart-txt{
        display: none;
    }
}
@media (min-width: 1200px) {
}
