html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    /* min-height: 60vw; */
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #000;
    background: #103856;
    background: -webkit-linear-gradient(to right, #103856, #586d92);
    background: linear-gradient(to right, #103856, #586d92);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Helvetica, sans-serif;
}
a {
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover, a:focus {
    color: #ddd;
    text-decoration: none;
}
.vertical-centre{
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.intro {
    width: 100%;
    height: 100%;
    min-height: 80vw;
    padding:0;
    text-align: center;
    position:relative;
    overflow: hidden;
    background: -webkit-linear-gradient(to right, #103856, #586d92);
    background: linear-gradient(to right, #103856, #586d92);
    color:#fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.intro h1{
    font-size: 10vw;
}
.intro a#continue-btn{
    position: absolute;
    bottom:20px;
    color:#fff;
    outline: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease all;
}
.intro a#continue-btn i{
    -webkit-animation: pulse 1.6s infinite;
    animation: pulse 1.6s infinite;
    transition: 0.3s ease all;
}
.intro a#continue-btn i:hover,.intro a#continue-btn i:active,.intro a#continue-btn i:focus {
    color:#ccc;
    -webkit-animation:initial;
    animation:initial;
    transform: scale(1.4,1.4);
}
.intro img#harry, .intro #harry-desc{
    visibility: hidden;
}
.intro #harry-links{
    margin-top: 2vw;
    visibility: hidden;
    font-size: 80%;
}
.intro #harry-links p{
    margin-top: 4px;
}
.content-section {
    padding: 50px;
}
footer {
    padding: 25px 0;
    background-color: #333;
    width:100%;
}
footer p, footer a {
    margin:25px 0;
    color: #bbb;
    font-size: 14px;
}
footer a.pull-right{
    color:#bbb;
}
footer a:hover,
footer a:focus {
    text-decoration: none;
    color:#777;
}
@media (min-width: 768px) {
    .intro{
        min-height: 60vw;
    }
    .intro h1{
        font-size: 8vw;
    }
    .content-section p{
        font-size: 36px;
    }
    .intro #harry-links{
        margin-top: 23px;
        font-size: 100%;
    }
}
@media (min-width: 998px) {
    .intro{
        min-height: 55vw;
    }
    .intro h1{
        font-size: 92px;
    }
    .intro .vertical-centre{
        width:998px;
    }
    .intro #harry-links{
        margin-top: 23px;
        font-size: 100%;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .intro{
        min-height: 600px;
    }
}

@keyframes pulse{
    0%{
        transform: scale(1,1);
    }

    50%{
        transform: scale(1.4,1.4);
    }

    100%{
        transform: scale(1,1);
    }
}
