*{
    font-weight: 400;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    /* min-height: 60vw; */
    font-family: "Quicksand", sans-serif;
    color: #000;
    /* background: #103856; */
    /* background: -webkit-linear-gradient(to right, #103856, #586d92);
    background: linear-gradient(to right, #103856, #586d92); */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}
a {
    color: navy;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover, a:focus {
    color: darkblue;
    text-decoration: none;
}
footer {
    padding: 25px 0;
    background-color: #333;
    width:100%;
}
footer p, footer a {
    margin:25px 0;
    color: #bbb;
    font-size: 14px;
}
footer a.pull-right{
    color:#bbb;
}
footer a:hover,
footer a:focus {
    text-decoration: none;
    color:#777;
}
.vertical-centre{
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.intro {
    width: 100%;
    height: 100%;
    min-height: 80vw;
    padding:0;
    text-align: center;
    position:relative;
    overflow: hidden;
    background: -webkit-linear-gradient(to right, #103856, #586d92);
    background: linear-gradient(to right, #103856, #586d92);
    color:#fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.intro h1{
    font-size: 10vw;
}
.intro a#continue-btn{
    position: absolute;
    bottom:20px;
    color:#fff;
    outline: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease all;
}
.intro a#continue-btn i{
    -webkit-animation: pulse 1.6s infinite;
    animation: pulse 1.6s infinite;
    transition: 0.3s ease all;
}
.intro a#continue-btn i:hover,.intro a#continue-btn i:active,.intro a#continue-btn i:focus {
    color:#ccc;
    -webkit-animation:initial;
    animation:initial;
    transform: scale(1.4,1.4);
}
.intro img#harry, .intro #harry-desc{
    visibility: hidden;
}
.intro #harry-links{
    margin-top: 2vw;
    visibility: hidden;
    font-size: 80%;
}
.intro #harry-links p{
    margin-top: 4px;
}
.content-section {
    padding: 50px;
}


#deck{
    position: static;
    width: 100%;
    margin: 0px;
    padding: 0px;
    max-width: 1200px;
}

.card-wrapper{
    position: static;
    height: 336px;
    padding: 18px;
}
.card {
    padding: 0px;
    border-radius: 10px;
    overflow: scroll;
    background: #fff;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.14);
    transition: all 0.6s cubic-bezier(.6,1.84,.35,.83);
    /* transition: z-index none; */
    /* transition: transform 0.6s ease; */
}
.card .card-cover{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    background: #f8f8f8;
    background-clip: border-box;
    color: #fff;
    transition: all 0.6s cubic-bezier(.6,1.84,.35,.83);
}
.card .card-cover .container{
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.6s cubic-bezier(.6,1.84,.35,.83) 0s;
}
.card .img-container{
    width: 70%;
    max-width: 300px;
    margin: auto;
    transition: all 0.6s cubic-bezier(.6,1.84,.35,.83) 0s;
}
.card .card-cover img{
    width: 100%;
    height: auto;
}
.card .card-cover .card-txt-title{
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    font-size: 2.2em;
    text-align: center;
    transition: all 0.3s ease;
}
.card .card-txt{
    position: relative;
    padding: 0.3em 0.5em;
    transition: all 0.6s cubic-bezier(.6,1.84,.35,.83);
}
.card .card-txt-desc{
    text-align: center;
    line-height: 1.3;
    color: #000;
}
.card .hide{
    transform: translateY(-100%);
    overflow: hidden;
}


/* .card:hover{
    transform: scale(0.95);
} */


.card-expand{
    position: fixed;
}
.card-expand .card-cover{
    position: relative;
    /* z-index: 3; */
    border-radius: 10px 10px 0px 0px;
}
.card-expand .card-cover h2{
    font-size: 4em;
}
.card-expand .card-txt{
    z-index: 0;
}

.






.html, .css, .js, .php, .mysql{
    color: whitesmoke;
    font-family: "Quicksand", sans-serif;
}
.html{
    background:#585D63;
    color: #f75d50;
}
.css{
    background: lightblue;
}
.js{
    background: #F5DD19;
    color:#000;
}
.php{
    background: #4F5C93;
    color: #fff;
}
.mysql{
    background: #ef9a23;
    color: #285F86;
}
/* @hue-5:   hsl(355, 65%, 65%); // <-red 1
@hue-5-2: hsl(  5, 48%, 51%); // <-red 2 */
ul.plain li code{
    background: #555;
    color: #fff;
}

.card-footer, .card-topper{
    width: 100%;
    text-align: center;
}
.card-footer .card-footer-wrapper, .card-topper .card-topper-wrapper{
    list-style: none;
    padding: 0px;
    margin:0px 2px 10px;
}
.card-footer .card-footer-wrapper li, .card-topper .card-topper-wrapper li{
    display: inline-block;
    font-size: 1.1em;
    border-radius: 3px;
}
.card-footer .card-footer-wrapper li code, .card-topper .card-topper-wrapper li code{
    padding: 3px;
}


@media (min-width: 768px) {
    .intro{
        min-height: 60vw;
    }
    .intro h1{
        font-size: 8vw;
    }
    .intro p{
        font-size: 36px;
    }
    .intro #harry-links{
        margin-top: 23px;
        font-size: 100%;
    }
}
@media (min-width: 998px) {
    .intro{
        min-height: 55vw;
    }
    .intro h1{
        font-size: 92px;
    }
    .intro .vertical-centre{
        width:998px;
    }
    .intro #harry-links{
        margin-top: 23px;
        font-size: 100%;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .intro{
        min-height: 600px;
    }
}

@keyframes pulse{
    0%{
        transform: scale(1,1);
    }

    50%{
        transform: scale(1.4,1.4);
    }

    100%{
        transform: scale(1,1);
    }
}
