body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Helvetica, sans-serif;
}
a {
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover, a:focus {
    color: #ddd;
    text-decoration: none;
}
.vertical-centre{
    position: absolute;
    width:100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate((-50%,-50%);*/
}
.intro {
    width: 100%;
    height: 100%;
    padding:0;
    text-align: center;
    position:relative;
    overflow: hidden;
    background: #334668;
    background: -webkit-linear-gradient(to right, #103856, #586d92);
    background: linear-gradient(to right, #103856, #586d92);
    color:#fff;
    text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    cursor: default;
}
.intro h1{
    font-size: 8vw;
}
.intro a#continue-btn{
    position: absolute;
    bottom:20px;
    color:#fff;
    outline: 0;
    left: 50%;
    transform: translateX(-50%);
}
.intro a#continue-btn:hover,.intro a#continue-btn:active,.intro a#continue-btn:focus {
    color:#ccc;
}
.intro img{
    border: 1vw solid #fff;
    padding:1vw;
}
.intro #harry-links{
    margin-top: 2vw;
}
.intro #harry-links p{
    margin-top: 4px;
}
.content-section {
    padding: 50px;
}
footer {
    padding: 25px 0;
    background-color: #333;
    width:100%;
}
footer p, footer a {
    margin:25px 0;
    color: #bbb;
    font-size: 14px;
}
footer a.pull-right{
    color:#bbb;
}
footer a:hover,
footer a:focus {
    text-decoration: none;
    color:#777;
}
@media (min-width: 768px) {
    .content-section p{
        font-size: 36px;
    }
}
